.jumbotron {
  padding: 2rem;
  background-color: #e3bec6;
}

#projects {
  background-color: #d5bfbf;
}

footer {
  background-color: #85586f;
  font-size: small;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #85586f;
  color: white;
}

.btn:hover {
  background-color: #ffcbcb;
  color: white;
}
